<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="rounded-lg-3 bd-placeholder-img card-img-top" src="/assets/images/hikvision-products/essd-dvr.jpg" alt="Hikvision eSSD DVR" width="100%" height="225">
            <div class="card-body">
                <h3 class="fw-light fs-2">Hikvision eSSD DVR</h3>
              <p class="card-text">Thanks to Hikvision's embedded solid state drive technology, this energy-efficient eDVR Series lasts longer, is more durable and offers comparable or higher quality than traditional DVRs, making nearly every experience better. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="https://www.hikvision.com/en/products/Turbo-HD-Products/DVR/edvr-series" target="_blank">View product page</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="rounded-lg-3 bd-placeholder-img card-img-top" src="/assets/images/hikvision-products/turbo-hd-dvr.webp" alt="Hikvision Turbo HD DVR" width="100%" height="225">
            <div class="card-body">
                <h3 class="fw-light fs-2">Hikvision Turbo HD DVR</h3>
              <p class="card-text">What' s more, all of Hikvision' s Turbo HD GT DVRs are now powered by Motion Detection 2.0, which detects human beings and vehicles through each analog channel to focus on real security threats. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="https://www.hikvision.com/en/products/Turbo-HD-Products/DVR/" target="_blank">View product page</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
              <img class="rounded-lg-3 bd-placeholder-img card-img-top" src="/assets/images/hikvision-products/acusense.png" alt="Pro Series with AcuSense" width="100%" height="225">
              
              <div class="card-body">
                  <h3 class="fw-light fs-2">Hikvision AcuSense DVR</h3>
                <p class="card-text">Hikvision’s AcuSense technology embeds deep-learning algorithms into security cameras and video recorders to equip businesses and homeowners with smart tools to take security to the next level, both indoors and outdoors.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                      <a type="button" class="btn btn-sm btn-outline-secondary" href="https://www.hikvision.com/en/products/Turbo-HD-Products/DVR/AcuSense-Series/" target="_blank">View product page</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="rounded-lg-3 bd-placeholder-img card-img-top" src="/assets/images/hikvision-products/hikvision-colorvu.jpg" alt="Hikvision ColorVu" width="100%" height="225">
            <div class="card-body">
                <h3 class="fw-light fs-2">Hikvision ColorVu Camera</h3>
              <p class="card-text">Hikvision's ColorVu technology helps users protect people and property by capturing high-quality, full-color imaging 24/7 with the same sharp rendering at night time as in daylight. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="https://www.hikvision.com/en/products/Turbo-HD-Products/Turbo-HD-Cameras/ColorVu-Series" target="_blank">View product page</a>
                </div>
              </div>
            </div>
          </div>
        </div>        

        <div class="col">
          <div class="card shadow-sm">
            <img class="rounded-lg-3 bd-placeholder-img card-img-top" src="/assets/images/hikvision-products/turbo-hd-camera.webp" alt="Hikvision Web Camera" width="100%" height="225">
            <div class="card-body">
                <h3 class="fw-light fs-2">Hikvision Turbo HD Camera</h3>
              <p class="card-text">Now Hikvision' s Turbo HD Cameras family welcomes two brand-new family members: Turbo HD GT PT Cameras and Smart Dual-light Cameras. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="https://www.hikvision.com/en/products/Turbo-HD-Products/Turbo-HD-Cameras/" target="_blank">View product page</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
              <img class="rounded-lg-3 bd-placeholder-img card-img-top" src="/assets/images/hikvision-products/web-cam.jpg" alt="Hikvision Web Camera" width="100%" height="225">
              
              <div class="card-body">
                  <h3 class="fw-light fs-2">Hikvision Web Camera</h3>
                <p class="card-text">Today, remote meetings, distance learning, and distance working have become normal for people around the world. And to do this, we need the best and most advanced webcams. </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                      <a type="button" class="btn btn-sm btn-outline-secondary" href="https://www.hikvision.com/en/products/Turbo-HD-Products/Turbo-HD-Cameras/webcam-series/" target="_blank">View product page</a>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="rounded-lg-3 bd-placeholder-img card-img-top" src="/assets/images/hikvision-products/hikvision-alarm.png" alt="Hikvision Alarm" width="100%" height="225">
            <div class="card-body">
                <h3 class="fw-light fs-2">Hikvision Alarm</h3>
              <p class="card-text">Alarm products are ideal solutions for many scenarios: residential areas, small businesses, campuses or open areas, etc. Hikvision offers a wide range of products that build reliable protection in every corners.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="https://www.hikvision.com/en/products/Alarm-Products/" target="_blank">View product page</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm">
            <img class="rounded-lg-3 bd-placeholder-img card-img-top" src="/assets/images/hikvision-products/hikvision-intercom.jpg" alt="Hikvision Video Intercom" width="100%" height="225">
            
            <div class="card-body">
                <h3 class="fw-light fs-2">Hikvision Video Door Phone</h3>
              <p class="card-text">Hikvision's Video Intercom line offers a comprehensive range of products to enable more efficient and convenient two-way audio and video verification for entry control.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="https://www.hikvision.com/en/products/Video-Intercom-Products/" target="_blank">View product page</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
              <img class="rounded-lg-3 bd-placeholder-img card-img-top" src="/assets/images/hikvision-products/hikvision-nvr.png" alt="Hikvision NVR, Network Video Recorders" width="100%" height="225">
              <div class="card-body">
                  <h3 class="fw-light fs-2">Hikvision NVR</h3>
                <p class="card-text">With built-in analytics, Hikvision's Network Video Recorders (NVRs) provide advanced artificial intelligence capabilities for any connected data stream, even those from conventional security cameras.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                      <a type="button" class="btn btn-sm btn-outline-secondary" href="https://www.hikvision.com/en/products/IP-Products/Network-Video-Recorders/" target="_blank">View product page</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
       
      </div>
    </div>
  </div>