/*
Don't want to use sass and simply modify the stylesheet in the old css fashion?
Just customize your theme here.
================================================== */
@font-face {
  font-family: "Noto Sans";
  src: url(https://uslayer.github.io/assets/noto.ttf);
}



.noto {
  font-family: "Noto Sans";
}

.article-post a {
      color: inherit;
      box-shadow: inset 0 -2px 0 #042c49, 0 2px 0 #042c49;
}

.article-post a:hover {
      color: #ffff;
      box-shadow: inset 0 -30px 0 #042c49, 0 2px 0 #042c49;
}
